body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
    border-radius: 10px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="url"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 50px;
    border-radius: 5px; 
    padding: 10px; 
    width: 110%;
}

.hidden {
    display: none;
}
